.article {
  margin: 1rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  border: 1px solid lightgray;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.2s;
}

.article:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.article h3 {
/*  color: MediumSeaGreen; */
  font-size: 1.5rem;
  text-align: center;
}
